<nav class="blog-nav">
     <a class="blog-nav-item " href="#/splitsharelist">Home</a>
     <a class="blog-nav-item " style="cursor:pointer;" ng-click="logout();">Logout</a>
     <a class="blog-nav-item " href="#/dashboard">Dashboard</a>
</nav>
<p class="lead">Welcome home <b>{{username}}</b> !!</p>
<div class ="container">
    <h3 class="list-group-item title">DASHBOARD<span class="pull-right"><button class="btn btn-md btn-orange" ng-click="addModalExpense()" data-target="#addModal">Add a Expense</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-md btn-mint">Settle Up</button></span></h3></h3>
  <div ng-repeat="member in members" class="list-group-item">
    {{ member.firstname | uppercase }}
  </div>
  <table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Paid by</th>
            <th>Paid for</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="expense in sharedExpenses | orderBy:-expense.date:reverse">
            <td>{{expense.text}}</td>
            <td>&#8377;{{expense.amount | number:2}}</td>
            <td>{{expense.date | date:'yyyy-MM-dd'}}</td>
            <td>{{showFriendName(expense.paid_by)}}</td>
            <td>{{showFriendNames(expense.paid_for)}}</td>
            <td>
                <button class="btn btn-danger btn-xs" data-target="#deleteModal" ng-click="deleteSharedExpense(expense.$id)"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class="modal" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
                </button>
                <h4 class="modal-title" id="addModalLabel">Add Shared Expense</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <label for="title-name" class="control-label">Expense Members:</label>
                    <tags-input class="bootstrap"
                        ng-model="newMembers"
                        display-property="firstname"
                        placeholder="Add a member"
                        on-tag-added="addMembers($member)"
                        on-tag-removed="removeMembers($member)">
                        <auto-complete source="loadMembers($query)"
                            min-length="0"
                            load-on-focus="true"
                            load-on-empty="true"
                            debounce-delay="0"
                            max-results="10">
                        </auto-complete>
                    </tags-input>
                    <div class="form-group">
                        <label for="title-name" class="control-label">Expense Title:</label>
                        <input type="text" class="form-control" ng-model="expenseDescription" id="title-name">
                    </div>
                     <div class="form-group">
                        <label for="cost-text" class="control-label">Amount:</label>
                        <input type="text" class="form-control" ng-model="amount" id="amount-text"></input>
                    </div>
                    <div class="form-group">
                        <label for="cost-text" class="control-label">Paid By:</label>
                        <div class="row">
                            <div class="col-md-6">
                                <select ng-model="lender" class="form-control"  id="paid-text" value="list.name">
                                    <option value="{{list.id}}" ng-repeat="list in users">{{list.name | uppercase }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class = "form-group">
                        <label for="date-text" class="control-label">Date:</label>
                        <input type="date" class="form-control" ng-model="myDate" id="date-text"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="splitExpense()"data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
                <h4 class="modal-title" style="color:red;" id="deleteModalLabel">You are going to Delete this post forever !!</h4>
            </div>
 
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="updateDelete()" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>