<nav class="blog-nav">
     <a class="blog-nav-item " href="#">Home</a>
     <a class="blog-nav-item " style="cursor:pointer;" ng-click="logout();">Logout</a>
</nav>
<p class="lead">Welcome home <b>{{username}}</b> !!</p>
<div class ="container">
    <h3 class="list-group-item title">SPLIT SHARE</h3>
        <div ng-repeat="expense in expenses" class="list-group-item">
        <input type="text" ng-model="expense.text" class="expense">
        <button ng-click="expenses.$remove(expense)" class="pull-right">x</button>
        <span class="badge cost-badge">{{expense.cost}}</span>
    </div>
    <div class = "list-group-item">
        <!-- <input type="text"  class="expense total-expense"> -->
        <span class="total-expense">TOTAL EXPENSE</span>
        <span class="badge total-badge">{{totalExpense()}}</span>
    </div>
    <div class="list-group-item" ng-show="expenseText">
        <input type="text" class="expense" placeholder="{{expenseText}}" disabled="true" />
        <input type="text" class="cost" placeholder="{{costInt}}" disabled="true" />
    </div>
    <form ng-submit="addExpense()" class="list-group-item">
        <input type="text" ng-model="expenseText" />
        <input type="text" ng-model="costInt" class="cost"/>
        <input type="submit" />
     </form>
</div>

